<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>rainbow valknuts</title>
  </head>
  <body>
    <p>
      made by <a href="https://twitter.com/alexwlchan">@alexwlchan</a>
      •
      based on an idea by <a href="https://twitter.com/KlezmerGryphon/status/1173897515843735553">@KlezmerGryphon</a>
      •
      <a href="https://glitch.com/~rainbow-valknuts">source code</a>
    </p>

    <div id="flag_image">
      {{ svg_xml | safe }}
    </div>

    <p>
      a mashup of the
      <a href="{{ flags[0] | url }}">{{ flags[0] | name }}</a>,
      <a href="{{ flags[1] | url }}">{{ flags[1] | name }}</a> and
      <a href="{{ flags[2] | url }}">{{ flags[2] | name }}</a> flags
    </p>
    <p>
      <a href="{{ url_for('index') }}">surprise me!</a> •
      <a href="{{ url_for('index', flag_0=flags[0] | name, flag_1=flags[1] | name, flag_2=flags[2] | name)}}">permalink</a> •
      <a href="data:image/svg+xml;base64,{{ svg_xml | base64 }}">download as svg</a>
    </p>
  </body>
</html>
